{% extends 'base.html' %}
{% block content %}
<!-- <script type="text/javascript" src="/static/homepage/js/angular.min.js"></script>
 -->
 <!-- <link rel="stylesheet" href="/static/homepage/css/bootstrap-multiselect.css">
<script src="/static/homepage/js/bootstrap-multiselect.js"></script> -->
<link rel="stylesheet" href="/static/homepage/css/icon.css">
<div class="app-title">
<div>
  <h1><i class="fa fa-th-list"></i><a href="/agents/"> Server</a></h1>
  
</div>
<ul class="app-breadcrumb breadcrumb side">
  <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
  <li class="breadcrumb-item">Agents</li>
  <li class="breadcrumb-item active"><a href="/monitor/">Monitor</a></li>
</ul>
</div>

<div class="row">
  <!-- <div class="col-md-12">
    <div class="tile">
      <form class="row" id="frmreport" name="frmreport" method="POST">
        <div class="form-group col-md-3">
          <select class="form-control" id="versionServer" name="versionServer">
            {% for ver in data.versions %}
            <option selected value="{{ ver }}">{{ ver }}</option>
            {% endfor %}
            <option selected value="">---Chose location---</option>
          </select>
        </div>

        <div class="form-group col-md-3">
            <select class="form-control" id="statusServer" name="statusServer">
              {% for state in data.states %}
                <option selected value="{{ state.id }}">{{ state.name }} - {{ state.desc }}</option>
              {% endfor %}
                <option selected value="">---Choose status---</option>
            </select>
        </div>
            
        <div class="form-group col-md-3 align-self-end">
            <button class="btn btn-sm btn-primary" type="button" onclick="serverSearch()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Search</button>
        </div>
    
        <div class="form-group col-md-3 align-self-end">
            <button class="btn btn-sm btn-primary" type="button" onclick="reportlevelexport()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Export</button>
        </div>
      </form>
    </div>  End title 
  </div> -->

  <div class="clearix col-md-12">
     <button id="btnNew" name="addnew" type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addModal">
         <span class="glyphicon glyphicon-add" aria-hidden="true"></span>
         <span><strong>Add</strong></span>
     </button>
  </div>
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <table class="table table-hover table-bordered" id="dataTable">
          <thead>
            <tr>
              <th>IP</th>
              <!-- <th>IP-RMulticast</th> -->
              <!-- <th>Vlan</th> -->
              <!-- <th>CPU</th> -->
              <!-- <th>RAM</th> -->
              <!-- <th>Disk</th> -->
              <th>Location</th>
              <th>Monitor</th>
              <th>Status</th>
              <!-- <th>Alarm</th> -->
              <th>Signal monitor</th>
              <th>Video monitor</th>
              <th>Audio monitor</th>
              <th>Thread</th>
              <!-- <th>Create</th>
              <th>Update</th> -->
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
          <!-- barse data agent -->
              {% for aid in data %}
              <tr>
                  <td>
                    <label id="ipcontrol-{{ aid.id }}" name="ipcontrol-{{ aid.id }}">{{ aid.ip_control }}</label>
                  </td>
                  <!-- <td>
                    <label id="ipmulticast-{{ aid.id }}" name="ipmulticast-{{ aid.id }}">{{ aid.ip_receive_muticast }}</label>
                    </td> -->
                  <!-- <td>
                  </td> -->
                  <!-- <td>
                    {% if aid.cpu == None %}
                      <p id="cpu-{{ aid.id }}">0</p>
                    {% else %}
                      <p id="cpu-{{ aid.id }}">{{aid.cpu}}</p>
                    {% endif %}
                  </td>
                  <td>
                    {% if aid.ram == None %}
                      <p id="ram-{{ aid.id }}">0</p>
                    {% else %}
                      <p id="ram-{{ aid.id }}">{{aid.ram}}</p>
                    {% endif %}
                  </td>
                   <td>
                    {% if aid.disk == None %}
                      <p id="disk-{{ aid.id }}">0</p>
                    {% else %}
                      <p id="disk-{{ aid.id }}">{{aid.disk}}</p>
                    {% endif %}
                  </td> -->
                  <td>
                    <input id='location-{{ aid.id }}' type='text' value='{{aid.location}}'>
                  </td>
                  <td>
                    <div  class="content_center">
                    {% if aid.is_monitor == 1 %}
                        <input id="monitor-{{ aid.id }}" type="checkbox" data-width="50" data-height="25" data-onstyle="success" data-offstyle="danger" checked data-toggle="toggle" onchange="onChangeCheckBox(this.id);" >
                    {% else %}
                        <input id="monitor-{{ aid.id }}" type="checkbox" data-width="50" data-height="25" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" onchange="onChangeCheckBox(this.id);" >
                    {% endif %}
                    </div>
                  </td>
                  <td>
                    <div  class="content_center">
                    {% if aid.status == 1 %}
                       <i id="status-{{aid.id}}" class='bi-check-circle-fill'></i>
                        <!-- <input id="status-{{ aid.id }}" type="checkbox" data-width="50" data-height="25" data-onstyle="success" data-offstyle="danger" checked data-toggle="toggle" onchange="onChangeCheckBox(this.id);" > -->
                    {% else %}
                      <i id="status-{{aid.id}}" class='bi-x-circle-fill'></i>
                    {% endif %}
                    </div>
                  </td>
                  <!-- <td>
                    {% if aid.is_alarm == 1%}
                        <input id="alarm-{{ aid.id }}" type="checkbox" checked data-width="50" data-height="25" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" onchange="onChangeCheckBox(this.id);">
                    {% else %}
                    
                        <input id="alarm-{{ aid.id }}" type="checkbox" data-width="50" data-height="25" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" onchange="onChangeCheckBox(this.id);">
                    {% endif %}
                  </td> -->
                  <td>
                    <div class="content_center">
                    {% if aid.signal_monitor == 1 %}
                        <input id="signal-{{ aid.id }}" type="checkbox"  data-width="50" data-height="25" data-onstyle="success" data-offstyle="danger "data-toggle="toggle" onchange="onChangeCheckBox(this.id);">
                    {% else %}
                    
                        <input id="signal-{{ aid.id }}" type="checkbox" data-width="50" data-height="25" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" onchange="onChangeCheckBox(this.id);">
                    {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="content_center">
                    {% if aid.video_monitor == 1%}
                        <input id="video-{{ aid.id }}" type="checkbox" checked data-width="50" data-height="25" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" onchange="onChangeCheckBox(this.id);">
                    {% else %}
                    
                        <input id="video-{{ aid.id }}" type="checkbox" data-width="50" data-height="25" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" onchange="onChangeCheckBox(this.id);">
                    {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="content_center">
                    {% if aid.audio_monitor == 1%}
                        <input id="audio-{{ aid.id }}" type="checkbox" checked data-width="50" data-height="25" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" onchange="onChangeCheckBox(this.id);">
                    {% else %}
                        <input id="audio-{{ aid.id }}" type="checkbox" data-width="50" data-height="25" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" onchange="onChangeCheckBox(this.id);">
                    {% endif %}
                    </div>
                  </td>
                  <td>
                     <input type="number" id="thread-{{ aid.id }}" name="thread-{{ aid.id }}" value="{{ aid.run_thread }}" min="1" max="20">
                  </td>
                  <!-- <td>
                    {% if aid.date_create == None %}
                      <p id="datecreate-{{ aid.id }}">0</p>
                    {% else %}
                      <p id="datecreate-{{ aid.id }}">{{aid.date_create}}</p>
                    {% endif %}
                  </td>
                  <td>
                    {% if aid.date_update == None %}
                      <p id="dateupdate-{{ aid.id }}">0</p>
                    {% else %}
                      <p id="dateupdate-{{ aid.id }}">{{aid.date_update}}</p>
                    {% endif %}
                  </td> -->
                  <td>
                    <button id="btnUpdate-{{aid.id}}" name="update" type="button" class="btn btn-sm btn-primary" onclick="agentUpdate({{ aid.id }});">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Update</strong></span> 
                    </button>
                    
                    <button id="btnDelete-{{ aid.id }}" name="delete" type="button" class="btn btn-sm btn-danger" onclick="agentDete({{ aid.id }});">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Delete</strong></span> 
                    </button>
                  </td>
                  </tr>
              {% endfor %}      
          <!-- barse data agent --> 
          </tbody>
        </table>
      </div>
    </div>
      <!-- modal create profile -->
      <form id="newprofile-form" action="/upstatus/" method="post" onSubmit="alert()">
      <div class="modal fade" id="addModal">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add New Profile</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
               <div class='form-group row'>
                  <label class="col-sm-3 form-label" for='frm-add-channel'>Channel Name:</label>
                  <div class="col-sm-9">
                  <select class="form-control" id='frm-add-channel' placeholder="Channel Name">
                    <option value='0' selected>Channel Name</option>
                    </select>
                  </div>
               </div>
               <div class='form-group row'>
                  <label class="col-sm-3 form-label" for='frm-add-quality'>Quality:</label>
                  <div class="col-sm-9">
                  <select class="form-control" id='frm-add-quality' placeholder="Quality 2M,4M" >
                    <option value="0" selected>Quality 2M,4M</option>
                  </select>
                  </div>
               </div>
               <div class='form-group row'>
                  <label class='col-sm-3 form-label' for='frm-add-status'>Status:</label>
                  <div class="col-sm-9">
                    <select id='frm-add-status' class="form-control">
                      <option value='0' selected>Status</option>
                      </select>
                  </div>
               </div>
               <div class='form-group row'>
                  <label class="col-sm-3 form-label" for='frm-add-vlan'>Vlan:</label>
                  <div class="col-sm-9">
                  <select class="form-control" id='frm-add-vlan' >
                    <option value="0" selected>Select Vlan</option>
                  </select>
                  </div>
               </div>
               <div class='form-group row'>
                  <label class="col-sm-3 form-label" for='frm-add-mulip'>MulticastIP:</label>
                  <div class="col-sm-9">
                  <select class="form-control" id='frm-add-mulip'>
                    <option value="0" selected>Select IP</option>
                  </select>
                  </div>
               </div>
                <div class='form-group row'>
                  <label class="col-sm-3 form-label" for='frm-add-encoder'>Encoder:</label>
                  <div class="col-sm-9">
                  <select class="form-control" id='frm-add-encoder'>
                    <option value="0" selected>Select encoder</option>
                  </select>
                  </div>
               </div>
               <div class='form-group row'>
                  <label class="col-sm-3 form-label" for='frm-add-desc'>Description:</label>
                  <div class="col-sm-9">
                  <textarea id='frm-add-desc' rows="5" cols="40" >
                  </textarea>
                  </div>
               </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <input id="btnnewprofile-form-submit" type="submit" class="btn btn-primary" data-dismiss="modal" value="Submit">
            </div>
         </div>
        </div>
      </div>
      </form>

  </div>
</div> <!-- end row  -->
<script src=/static/homepage/js/jquery-3.2.1.min.js></script>
<script src="/static/homepage/js/agents.js"></script>
{% endblock %}