{% extends 'base.html' %}
{% block content %}
<!-- <script type="text/javascript" src="/static/homepage/js/angular.min.js"></script>
 -->
<div class="app-title">
<div>
  <h1><i class="fa fa-th-list"></i><a href="/agents/"> Server</a></h1>
  
</div>
<ul class="app-breadcrumb breadcrumb side">
  <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
  <li class="breadcrumb-item">Agnets</li>
  <li class="breadcrumb-item active"><a href="/agents/">Agents</a></li>
</ul>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <form class="row" id="frmreport" name="frmreport" method="POST">
        <div class="form-group col-md-3">
          <select class="form-control" id="versionServer" name="versionServer">
            {% for ver in data.versions %}
            <option selected value="{{ ver }}">{{ ver }}</option>
            {% endfor %}
            <option selected value="">---Choose version---</option>
          </select>
        </div>

        <div class="form-group col-md-3">
            <select class="form-control" id="statusServer" name="statusServer">
              {% for state in data.states %}
                <option selected value="{{ state.id }}">{{ state.name }} - {{ state.desc }}</option>
              {% endfor %}
                <option selected value="">---Choose status---</option>
            </select>
        </div>
            
        <div class="form-group col-md-3 align-self-end">
            <button class="btn btn-sm btn-primary" type="button" onclick="serverSearch()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Search</button>
        </div>
    
        <div class="form-group col-md-3 align-self-end">
            <button class="btn btn-sm btn-primary" type="button" onclick="reportlevelexport()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Export</button>
        </div>
      </form>
    </div> <!-- End title -->
  </div>

  <div class="clearix"></div>
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <table class="table table-hover table-bordered" id="dataTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>IP</th>
              <th>IP-RMulticast</th>
              <th>CPU</th>
              <th>RAM</th>
              <th>Disk</th>
              <th>Location</th>
              <th>Monitor</th>
              <th>Alarm</th>
              <th>Signal monitor</th>
              <th>Video monitor</th>
              <th>Audio monitor</th>
              <th>Thread</th>
              <th>Create</th>
              <th>Update</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <input type="checkbox" value="true" data-toggle="toggle">
            </tr>
              {% for aid in data.agents %}
              <tr>
                  <td>{{ aid.name }}</td>
                  <td>{{ aid.ip_control }}</td>
                  <td>{{ aid.ip_receive_muticast }}</td>
                  <td>{{ aid.cpu }}</td>
                  <td>{{ aid.ram }}</td>
                  <td>{{ aid.disk }}</td>
                  <td>{{ aid.location }}</td>
                  <td>{{ aid.is_monitor }}
                    {% if aid.is_monitor == 1%}
                        <input id="monitor_{{ aid.id }}" type="checkbox" checked data-toggle="toggle" onchange="changeMonitor(this);">
                    {% else %}
                    {% endif %}
                        <input id="monitor_{{ aid.id }}" type="checkbox" data-toggle="toggle" onchange="changeMonitor(this);">
                  </td>
                  <td>{{ aid.is_alarm }}
                    {% if aid.is_alarm == 1%}
                        <input id="alarm_{{ aid.id }}" type="checkbox" checked data-toggle="toggle" onchange="changeAlarm(this);">
                    {% else %}
                    {% endif %}
                        <input id="alarm_{{ aid.id }}" type="checkbox" data-toggle="toggle" onchange="changeAlarm(this);">
                  </td>
                  <td>{{ aid.signal_monitor }}
                    {% if aid.signal_monitor == 1 %}
                        <input id="signal_{{ aid.id }}" type="checkbox" checked data-toggle="toggle" onchange="changesignal(this);">
                    {% else %}
                    {% endif %}
                        <input id="signal_{{ aid.id }}" type="checkbox" data-toggle="toggle" onchange="changeSignal(this);">
                  </td>
                  <td>{{ aid.video_monitor }}
                    {% if aid.video_monitor == 1%}
                        <input id="video_{{ aid.id }}" type="checkbox" checked data-toggle="toggle" onchange="changeVideo(this);">
                    {% else %}
                    {% endif %}
                        <input id="video_{{ aid.id }}" type="checkbox" data-toggle="toggle" onchange="changeVideo(this);">
                  </td>
                  <td>{{ aid.audio_monitor }}
                    {% if aid.audio_monitor == 1%}
                        <input id="audio_{{ aid.id }}" type="checkbox" checked data-toggle="toggle" onchange="changeAudio(this);">
                    {% else %}
                    {% endif %}
                        <input id="audio_{{ aid.id }}" type="checkbox" data-toggle="toggle" onchange="changeAudio(this);">
                  </td>
                  <td>{{ aid.run_thread }}</td>
                  <input type="number" id="thread_{{ aid.id }}" name="thread_{{ aid.id }}" value="aid.run_thread" min="1" max="20">
                  <td>{{ aid.date_create }}</td>
                  <td>{{ aid.date_update }}</td>
                  <td>
                    <select class="form-control" id="select_state{{ sid.sid }}" name="{{ sid.sid }}" onchange="changeState(this);">
                    {% for state in data.states %}
                      {% if state.id == sid.status %}
                        <option selected value="{{ state.id }}">{{ state.name }} - {{ state.desc }}</option>
                      {% else %}
                      {% endif %}
                        <option value="{{ state.id }}">{{ state.name }} - {{ state.desc }}</option>
                      {% endif %}
                    {% endfor %}
            </select>
                  </td>
                  <td>{{ sid.timestamps.open }}</td>
                  <td>{{ sid.timestamps.time_has_opened }}</td>
                  <td>{{ sid.client_version }}</td>
                  <td>
                    <button id="{{ sid.sid }}" name="start_{{sid.host}}" type="button" class="btn btn-sm btn-primary" onclick="serverControl(this)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Start</strong></span> 
                    </button>
                    <button id="{{ sid.sid }}" name="restart_{{sid.host}}" type="button" class="btn btn-sm btn-warning" onclick="serverControl(this)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Restart</strong></span> 
                    </button>

                    <button id="{{ sid.sid }}" name="stop_{{sid.host}}" type="button" class="btn btn-sm btn-danger" onclick="serverControl(this)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Stop</strong></span> 
                    </button>
                  </td>
                  <td>
                    {% if sid.status != 1 %}
                    <button id="{{ sid.sid }}" name="allow" type="button" class="btn btn-sm btn-primary" onclick="serverControlRegister(this)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Allow</strong></span> 
                    </button>

                    <button id="{{ sid.sid }}" name="deny" type="button" class="btn btn-sm btn-warning" onclick="serverControlRegister(this)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Deny</strong></span> 
                    </button>
                    {% endif %}
                  </td>
              </tr>
              {% endfor %}      
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- end row  -->

{% endblock %}