{% extends 'base.html' %}
{% block content %}
<div class="app-title">
<div>
  <h1><i class="fa fa-th-list"></i>
    <a href="/servers/whitelist/"> Datetime</a>
  </h1>
  
</div>
<ul class="app-breadcrumb breadcrumb side">
  <li class="breadcrumb-item"><a href="/servers"><i class="fa fa-home fa-lg"></i></a></li>
  <li class="breadcrumb-item">Server</li>
  <li class="breadcrumb-item active"><a href="/servers/datetime/">Datetime</a> </li>
</ul>
</div>

<div class="row">
<!--   function -->
  <div class="col-md-12">
    <div class="tile">  
      Giờ server hiện tại: {{ data.current_datetime }}
    </div> <!-- End title -->
  </div>
</div> <!-- end row  -->

<div class="row">
  <div class="col-md-12">
      <div class="form-group col-md-3">
          Nhập giờ server mới: <input value="" class="form-control" id="newDate" name="newDate" type="text" placeholder="Select Date">
      </div>


      <div class="form-group col-md-3 align-self-end">
        <!-- submit button -->
        <div class="container mt-3">
          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-warning btn-block" onclick="changeDatetime(sync=false)">
            <i class="fa fa-fw fa-lg fa-check-circle"></i>
            Apply giờ mới
          </button> 
          <button type="button" class="btn btn-primary btn-block" onclick="changeDatetime(sync=true)">
            <i class="fa fa-fw fa-lg fa-check-circle"></i>
            Set lại đúng giờ
          </button> 
        </div>
        <!-- Submit button end --> 
      </div>
  </div>
</div> <!-- end row  -->

{% endblock %}

  
