{% extends 'base.html' %}
{% block content %}
<!-- <script type="text/javascript" src="/static/homepage/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/homepage/js/bootstrap-4.4.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/homepage/css/bootstrap.min.css"> -->

<div class="app-title">
<div>
  <h1><i class="fa fa-th-list"></i>
    <a href="/servers/whitelist/"> Whitelist</a>
  </h1>
  
</div>
<ul class="app-breadcrumb breadcrumb side">
  <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
  <li class="breadcrumb-item">Server</li>
  <li class="breadcrumb-item active"><a href="/servers/whitelist/">Whitelist</a> </li>
</ul>
</div>

<div class="row">
<!--   function -->
  <div class="col-md-12">
    <div class="tile">  
        <div class="form-group col-md-3 align-self-end">
          <div class="container mt-3">
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-primary btn-block"  data-toggle="modal" data-target="#myModal">
              <i class="fa fa-fw fa-lg fa-check-circle"></i>
              Add Whitelist
            </button>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Add Whitelist</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    IP&nbsp;: 
                    <input type="text" name="newip" id="newip">
                  </div>
                  
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addWhitelist()">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </form>
    </div> <!-- End title -->
  </div>
<!--   end function -->
  <div class="clearix"></div>
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <table class="table table-hover table-bordered" id="dataTable">
          <thead>
            <tr>
              <th>IP</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              {% for ip in data %}
              <tr>
                  <td>{{ ip }}</td>
                  <td>
                    <button id="{{ ip }}" name="{{ ip }}" type="button"class="btn btn-danger" onclick="removeIP(this)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Delete</strong></span> 
                    </button>
                  </td>
              </tr>
              {% endfor %}      
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- end row  -->

{% endblock %}

  
