{% extends 'base.html' %}
{% block content %}
<!-- <script type="text/javascript" src="/static/homepage/js/angular.min.js"></script>
 -->
 <!-- <link rel="stylesheet" href="/static/homepage/css/bootstrap-multiselect.css">
<script src="/static/homepage/js/bootstrap-multiselect.js"></script> -->
<link rel="stylesheet" href="/static/homepage/css/icon.css">
<link rel="stylesheet" href="/static/homepage/css/font-awesome.min.css">
<meta http-equiv="refresh" content="360">
<div class="app-title">
<div>
  <h1><i class="fa fa-th-list"></i><a href="/monitor/">HOME</a></h1>
  
</div>
<ul class="app-breadcrumb breadcrumb side">
  <li class="breadcrumb-item"><a href="/monitor/"><i class="fa fa-home fa-lg"></i></a></li>
  <li class="breadcrumb-item">Monitor</li>
  <li class="breadcrumb-item active"><a href="/agents/">Agents</a></li>
</ul>
</div>

<div class="row">
  <div class="clearix"></div>
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <table class="table table-hover table-bordered" id="dataTable">
          <thead>
            <tr>
              <th>IP</th>
              <th>Agent</th>
              <th>Channel</th>
              <th>Profile</th>
              <th>Status</th>
              <th>Signal monitor</th>
              <th>Video monitor</th>
              <th>Video status</th>
              <th>Audio monitor</th>
              <th>Audio status</th>
              <th>Enable</th>
            </tr>
          </thead>
          <tbody>
          <!-- barse data agent -->
              {% for item in data %}
              <tr>
                  <td>
                    <label id="ipmulticast-{{ item.id }}" name="ipcontrol-{{ item.id }}">{{ item.mulip }}</label>
                  </td>
                  <td>
                    <label id='location-{{ item.id }}' type='text' name='location-{{ item.id}}' value='{{item.location}}'>{{item.location}}
                  </td>
                  <td>
                    <label id='channle-{{ item.id }}' type='text' value='{{item.channel}}'>{{item.channel}}</label>
                  </td>
                  <td>
                    <label id='profle-{{item.id}}' type='text' value='{{item.quality}}'>{{item.quality}}</label>
                  </td>
                  <td>
                    <div class="content_center" >
                      {% if item.status == 1%}
                        <i id="status-{{item.id}}" class='bi-check-circle-fill'></i>
                      {% else %}
                        <i id="status-{{item.id}}" class='bi-x-circle-fill'></i>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="content_center" >
                      {% if item.sigmonitor == 1%}
                        <i id="sigmonitor-{{item.id}}" class='bi-toggle-on'></i>
                      {% else %}
                        <i id="sigmonitor-{{item.id}}" class='bi-toggle-off'></i>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="content_center">
                      {% if item.vidmonitor == 1%}
                        <i id="vidmonitor-{{item.id}}" class='bi-toggle-on'></i>
                      {% else %}
                        <i id="vidmonitor-{{item.id}}" class='bi-toggle-off'></i>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="content_center">
                      {% if item.vidstatus == 1%}
                        <i id="vidstatus-{{item.id}}" class='bi-check-circle-fill'></i>
                      {% else %}
                        <i id="vidstatus-{{item.id}}" class='bi-x-circle-fill'></i>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="content_center">
                      {% if item.audmonitor == 1%}
                        <i id="audmonitor-{{item.id}}" class='bi-toggle-on'></i>
                      {% else %}
                        <i id="audmonitor-{{item.id}}" class='bi-toggle-off'></i>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="content_center">
                      {% if item.audstatus == 1%}
                        <i id="audstatus-{{item.id}}" class='bi-check-circle-fill'></i>
                      {% else %}
                        <i id="audstatus-{{item.id}}" class='bi-x-circle-fill'></i>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="content_center">
                      {% if item.isenable == 1%}
                        <i id="isenable-{{item.id}}" class='bi-check-circle-fill'></i>
                      {% else %}
                        <i id="isenable-{{item.id}}" class='bi-x-circle-fill'></i>
                      {% endif %}
                    </div>
                  </td>
                 </tr>
              {% endfor %}      
          <!-- barse data agent --> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- end row  -->
 <script src=/static/homepage/js/jquery-3.2.1.min.js></script>
 <script src="/static/homepage/js/monitor.js"></script>
{% endblock %}