<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="">
        <title>IDLES-Samurai</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/icon.png" />
        <link rel="stylesheet" type="text/css" href="/static/homepage/datetimepicker/jquery.datetimepicker.css">
        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" href="/static/homepage/css/main.css">
        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    </head>
    <body class="app sidebar-mini rtl">
      <!-- Loading alert -->
      <div id="loading">
        <img id="loading-image" src="/static/loading.gif" alt="Loading..." />
      </div>
        {% include 'header.html' %}
        {% include 'leftmenu.html' %}

        <main class="app-content">
              <!-- Success alert -->
              {% if rc == 0 %}
              <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>Success!</strong> {{ msg }}.
              </div>
              {% endif %}
              <!-- Error alert -->
              {% if rc >= 1 and rc <= 127 %}
              <div class="alert error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>Error!</strong> {{ msg }}.
              </div>
              {% endif %}
              <!-- warning alert -->
              {% ifequal rc 128 %}
              <div class="alert warning">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>Warning!</strong> {{ msg }}.
              </div>
              {% endifequal %}
              <!-- info alert -->
              {% ifequal rc 129 %}
              <div class="alert info">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>Info!</strong> {{ msg }}.
              </div>
              {% endifequal %}

            {% block content %}
            {% endblock %}
        </main>
        {% include 'footer.html' %}
    </body>
</html>
