
    <!-- Essential javascripts for application to work-->
    <script src=/static/homepage/js/jquery-3.2.1.min.js></script>
    <script src=/static/homepage/js/popper.min.js></script>
    <script src=/static/homepage/js/bootstrap.min.js></script>
<!--      <script type="text/javascript" src="/static/homepage/js/plugins/tether.min.js"></script> -->
    <script type="text/javascript" src="/static/homepage/js/plugins/moment.min.js"></script>
    <script src=/static/homepage/js/main.js></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src=/static/homepage/js/plugins/pace.min.js></script>
    <!-- Page specific javascripts-->
    <!-- Data table plugin-->
    <script type="text/javascript" src=/static/homepage/js/plugins/jquery.dataTables.min.js></script>
<!--     <script type="text/javascript" src=/static/homepage/js/plugins/dataTables.bootstrap.min.js></script> -->

    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script> -->
    <script type="text/javascript" src="/static/homepage/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    
    <script type="text/javascript" src="/static/homepage/js/style.js"></script>
    
	
